body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f6f8fa;
    margin: 0;
}

header {
    background-color: #24292e;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
}

.section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #24292e;
    color: white;
    padding: 10px;
}
section {
    transform: scale(1); /* Состояние по умолчанию */
    transition: transform 0.3s; /* Плавное анимированное изменение для hover */
}

section:hover {
    transform: scale(1.05); /* Увеличиваем размер на 5% при наведении */
}